* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 131, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 1px solid black;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-family: Georgia;
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.code {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border: 1px solid green;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.719);
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */
